.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 35px;
    position: relative;
    z-index: 1;
}

.img {
    position: absolute;
    opacity: 0.05;
    height: auto;
    max-width: 100vw;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
