.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 35px;
}

.img {
  opacity: 0.2;
  position: absolute;
}
