.container {
    padding: 12px;
    border-radius: 10px;
}

.primary {
    background-color: var(--light-shape);
}

.secondary {
    background-color: var(--white);
}

.tertiary {
    background-color: var(--shape);
}

.transparent {
    background-color: transparent;
}
