.container {
    padding: 12px;
    border-radius: 10px;
}

.primary {
    background-color: var(--light-shape);
}

.secondary {
    background-color: var(--white);
}

.transparent {
    background-color: transparent;
}

.opacity {
    background-color: var(--light-shape);
    opacity: 0.8;
}
